body{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-animation: images 100s infinite;
    -moz-animation: images 100s infinite;
    animation: images 100s infinite;
    animation-direction: alternate;
}
@keyframes images {
    0% {
        background: url(../1.jpg);
    }
    15% {
        background: url(../2.jpg);
    }
    30% {
        background: url(../3.jpg);
    }
    45% {
        background: url(../4.jpg);
    }
    60% {
        background: url(../5.jpg);
    }
    75% {
        background: url(../6.jpg);
    }
    90% {
        background: url(../7.jpg);
    }
    100% {
        background: url(../8.jpg);
    }
}
@-webkit-keyframes images {
    0% {
        background: url(../1.jpg);
    }
    15% {
        background: url(../2.jpg);
    }
    30% {
        background: url(../3.jpg);
    }
    45% {
        background: url(../4.jpg);
    }
    60% {
        background: url(../5.jpg);
    }
    75% {
        background: url(../6.jpg);
    }
    90% {
        background: url(../7.jpg);
    }
    100% {
        background: url(../8.jpg);
    }
}

@-moz-keyframes images {
    0% {
        background: url(../1.jpg);
    }
    15% {
        background: url(../2.jpg);
    }
    30% {
        background: url(../3.jpg);
    }
    45% {
        background: url(../4.jpg);
    }
    60% {
        background: url(../5.jpg);
    }
    75% {
        background: url(../6.jpg);
    }
    90% {
        background: url(../7.jpg);
    }
    100% {
        background: url(../8.jpg);
    }
}
.main-signin {
    width: 455px;
    height: 360px;
    margin: 60px auto;
}
.main-signin .main-signin_head {
    border-radius: 10px 10px 0 0;
}
.main-signin .main-signin_head p {
    color: #586069;
    text-align: center;
}
.main-signin .main-signin_middle {
    border-bottom: 1px solid #2d2f32;
}
.main-signin .main-signin_middle .middle_form {
    margin: 20px 0 15px;
}
.main-signin .main-signin_middle .middle_form input[type="text"], .main-signin .main-signin_middle .middle_form input[type="password"], .main-signin .main-signin_middle .middle_form input[type="submit"]{
    background: #B2BEBF;
    border-radius: 5px 5px 0 0;
    border: none;
    width: 100%;
    padding: 25px 0;
    outline: none;
}

.main-signin .main-signin_middle .middle_form input[type="text"], .main-signin .main-signin_middle .middle_form input[type="password"] {
    padding:20px 15px;
    font-size: large;
}
.main-signin .main-signin_middle .middle_form input[type="password"]{
    border-top: 1px solid #2d2f32;
    border-radius: 0 0 5px 5px;
}
.main-signin .main-signin_middle .middle_form input[type="submit"] {
    background: #24429D;
    width: 90%;
    border-radius: 5px;
    color: #B5CACC;
    font-size: 18px;
    cursor:pointer;
    text-transform: uppercase;
    margin: 10px 5%;
}
.main-signin .main-signin_middle .middle_form input[type="submit"]:active{
    background:#5775CE;
    color: #fff;
}
.main-signin .main-signin_middle .middle_form input[type="submit"]:hover{
    background:#5775CE;
    color: #fff;
}
.main-signin .main-signin_foot {
    font-size: x-large;
    color: #B5CACC;
    float: left;
    width: 100%;
}
.main-signin .main-signin_foot .foot_form input[type="button"]{
    margin: 5px 0;
    float: left;
    color: #B5CACC;
    background-color: transparent;
    background-image: none;
    border: none;
    font-size: x-large;
    font-family: serif;
    cursor:pointer;
    outline: none;
}
.main-signin .main-signin_foot .foot_form input[type="button"]:active{
    color: #fff;
}
.main-signin .main-signin_foot .foot_form input[type="button"]:hover{
    color: #fff;
}
.main-signin .main-signin_middle .middle_form ::-webkit-input-placeholder {
    color: #575E5F;
}
.main-signin .main-signin_middle .middle_form :-moz-placeholder {
    color: #575E5F;
}
.main-signin .main-signin_middle .middle_form ::-moz-placeholder {
    color: #575E5F;
}
.main-signin .main-signin_middle .middle_form :-ms-input-placeholder {
    color: #575E5F;
}